<a href="https://colab.research.google.com/github/akshay2001pt/Learn.Py/blob/main/TASK-5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Given a list l=[23, 45, 25 ,78, 90, 45, 22, 56, 99, 12, 9, 75, 32]

Write a single line program to display.

a) elements at even index in the list.

b) remove the 3 middle elements (45, 22 and 56)

In [156]:
#please write the code below this line
list = [23,45,25,78,90,45,22,56,99,12,9,75,32] 
print(list[::2]) 
del list[5:8]
print("")
print(list)

[23, 25, 90, 22, 99, 9, 32]

[23, 45, 25, 78, 90, 99, 12, 9, 75, 32]

2.Given a list lowerCase=['a', 'e', 'i', 'o', 'u']
Create a new list upperCase using list comprehension and copy the content of the lowerCase list, but in uppercase (capital letters). (upperCase should be ['A', 'E', 'I', 'O', 'U'])

In [152]:
#please write the code below this line
>>> [x.upper() for x in ["a","e","1","o","u"]]

['A', 'E', '1', 'O', 'U']

3.Given a tuple fruits = ("banana", "cherry", "apple", "grapes")
Create 3 variables yellow, red and green and assign them with fruits of their respective color.
(yellow="banana", red=["cherry", "apple"], green="grapes (hint- Use unpacking)

In [151]:
#please write the code below this line
fruits = ("banana","cherry","apple","grapes")
(yellow, *red, green) = fruits
print("Green:",green)
print("Red:",red) 
print("Yellow:", yellow)

Green: grapes
Red: ['cherry', 'apple']
Yellow: banana