<a href="https://colab.research.google.com/github/akshay2001pt/Learn.Py/blob/main/TASK-6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to find those numbers which are divisible by 7 and multiple of 11, between 1000 and 2000 (both included).

In [138]:
#please enter your answer below this line
nl=[]
for x in range(1000, 2000):
    if (x%7==0) and (x%11==0):
        nl.append(str(x))
print (','.join(nl))

1001,1078,1155,1232,1309,1386,1463,1540,1617,1694,1771,1848,1925

2. Write a program to print this pattern

           #
          ## 
         ###

In [135]:
#please enter your answer below this line
def pypart2(n):
 
    k = 2*n - 2
 
    for i in range(0, n):
 
        for j in range(0, k):
 
            print(end=" ")
 
        k = k - 2
 
        for j in range(0, i+1):
 
            print("# ", end="")
 
        print("\r")
 
n = 3
pypart2(n)

    #
  # #
# # #

3. list=[apple, orange, apple, banana]
. Replace all the apple in the list with grapes using for loop

In [137]:
#please enter your answer below this line
fruits = ["apple","orange","apple","banana"]
for i,item in enumerate (fruits):
 if item == "apple":
  fruits[i]="grapes"
print(fruits)

['grapes', 'orange', 'grapes', 'banana']